*   {
    box-sizing: border-box;
}

h2 {
    color: blueviolet;
    text-align: center;
}

.chapter1 {
    color:aqua;
    font-weight: 900;
}

#indikator {
    color:brown;
}

h1  {
    text-align: center;
}

.reason {
    font-weight: 800;
}

#one {
    font-style: oblique;
}

.box {
    height: 300px;
    width: 300px;
    background-color: forestgreen;
    padding: 20px;
    border: 5px solid black;
    margin: 0 auto;
    
}

.chap2 {
    color: orangered;
}

.prince {
    color:chartreuse;
}

#chetr {
    color:deeppink;
}

.picture {
    font-weight: 500;
    color: mediumpurple;
}

.box1 {
    height: 200px; 
    width: 200px;
    background-color:rgb(45, 204, 13);
    border: 5px solid black;
    margin-left: 1000px;
}

.box2 {
    height: 200px;
    width: 200px;
    background-color:rgb(245, 14, 141);
    border: 5px solid black;
    margin: 0px auto;
    padding: 30px 0px 0px 50px;
}


/* 1. feature "display"
  - block 
  - inline 
  - inline-block 

2. feature "position" ( top, left, right, bottom )
  - static 
  - relative
  - absolute
  - fixed
  - inherit

3. feature "z-index" 
  - 0...10
  - (-1)
   */


.menu {
    position: absolute;
    
    
}

nav {
    position: relative;
    height: 100px;
    background-color:darkgray;
}