*   {
    box-sizing: border-box;
}

h2 {
    color: blueviolet;
    text-align: center;
}

.chapter1 {
    color:aqua;
    font-weight: 900;
}

#indikator {
    color:brown;
}

h1  {
    text-align: center;
}

.reason {
    font-weight: 800;
}

#one {
    font-style: oblique;
}

.box {
    height: 300px;
    width: 300px;
    background-color: forestgreen;
    padding: 20px;
    border: 5px solid black;
    margin: 0 auto;
    
}

.chap2 {
    color: orangered;
}

.prince {
    color:chartreuse;
}

#chetr {
    color:deeppink;
}

.picture {
    font-weight: 500;
    color: mediumpurple;
}

.box1 {
    height: 200px; 
    width: 200px;
    background-color:deeppink;
    border: 5px solid black;
    margin: 0px auto;
}

.box2 {
    height: 200px;
    width: 200px;
    background-color:rgb(139, 58, 102);
    border: 5px solid black;
    margin: 20px 50px;
}