.b1 {
    height: 300px;
    width: 400px;
    background-color: rgb(183, 128, 235);
    border: 5px solid rgb(143, 139, 139);
    padding: 10px 0px 0px 20px;
}

.b2 {
    height: 300px;
    width: 400px;
    background-color:rgb(112, 226, 169);
    border: 5px solid rgb(143, 139, 139);
    margin-top: 20px;
    margin-left: 30px;
}