* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.promo {
    height: 800px;
    background: url('../img/main_bg.png') center center/cover no-repeat;
    padding: 38px 0px 62px 0;
}


.logo .logo_img {
    display: block;
    margin: 0 auto;  
}

.logo .logo_text {
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px; /* 160% */
    text-transform: uppercase;
    margin-top: 9px;
}

.title {
    color: #F9BF3B;
    text-align: center;
    font-family: Roboto;
    font-size: 41px;
    font-style: normal;
    font-weight: 900;
    line-height: 41px; /* 100% */
    text-transform: uppercase;  
    margin-top: 53px;
}

.simple .title_big{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 80px; /* 100% */
    text-transform: uppercase;
    margin-top: 20px;
}

h2.title{
    margin-top: 21px;
}

.promo .promo_text {
    padding: 0px 13px;
    margin-top: 22px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; 
}

.promo .promo_text span {
    color: #F9BF3B;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.promo .promo_btn {
    margin: 73px auto;
    display: block;
    width: 313px;
    height: 72px;
    flex-shrink: 0;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.40);
    color: #FFF;
    /* text-align: center; */
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    font-family: RobotoCondensed;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 114.286% */
    text-transform: uppercase;
    cursor: pointer;
    outline:none;
}

.more {
    margin-top: 70px;

}

.more .more_text {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    line-height: 24px; /* 160% */
    text-transform: uppercase;
}

.more .more_img {
    display: block;
    margin: 0 auto;
}

.waiting {
    min-height: 607px;
    background-color: EFEFEF;
    padding: 88px 0px 75px 0px;
}

.waiting .waiting_header, .finish .finish_header {
    color: #252525;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 220px;
    height: 7px;
    background-color: #F9BF3B;
    margin: 0 auto;
    margin-top: 18px;
    
}

.waiting .waiting_subheader {
    color: #4A4A4A;
    text-align: center;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 400; 
    margin-top: 18px;
}

.waiting .waiting_wrapper {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.waiting .waiting_wrapper .waiting_item {
    width: 342px;
    text-align:justify;
    
}

 .waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;

}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 26px;
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
}

.optimization {
    min-height: 549px;
    padding: 108px 0px 74px 0px;

}

.optimization .optimization_header {
    color: #299CBD;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    margin-left: 400px;
    
}

.optimization .optimization_text {
    margin-left: 400px;
    margin-top: 25px;
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px; 

}

.optimization .optimization_text span {
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;

}

.optimization .optimization_img {
    position: absolute;
    top: -47px ;
    left: -231px  ;
    z-index: -1;
}
   
.finish {
    min-height: 447px;
    padding: 86px 0 69px 0;
    background: url('../img/second_bg.png')
}

.finish .finish_header {
    color: #EFEFEF;
}